body{
    background-image: url(./img/pattern-bg-desktop.png);
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    width: 100%;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: azure;
    margin-bottom: 26px;
    font-size: 29px;
    text-align: center;
}
.loa{
    font-size: 17px;
    text-align: center;
}
.input-part{
    text-align: center;
    margin-bottom: 30px;
}
.the-input{
    font-size: 14px;
    width: 45%;
    padding-right: 23px;
    border: none;
    padding-left: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom-left-radius: 29px;
    border-top-left-radius: 29px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}
.btn-sub img{
    width: 9px;
}
.btn-sub{
    background-color: black;
    padding-top: 13px;
    padding-bottom:12px;
    padding-right: 13px;
    padding-left: 15px;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: -26px;
}
.failed{
    font-size: 40px;
    font-family: sans-serif;
    color: red;
    margin-bottom: -20px;
    text-align: center;
}
.erorr{
    font-family:  sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(252, 15, 15);
    text-align: center;
}
.cont h4{
    color: grey;
    font-size: 15px;
    padding-left: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}
.is{
    margin-left: 47px;
}
.cont h1{
    color: rgb(29, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -20px;
    font-size: 21px;
}
.cont > div:last-child{
    border-right: none;
}
.address{
    color: white;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
    position: relative;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}
.map-container {
    position: relative;
    flex-grow: 1;
    z-index: 1;
    height: 69vh;
    width: 100%;
}
.cont {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin: 0 auto;
    word-wrap: break-word;
    width: 80%;
}
.cont > .detail-box {
    border-right: 1px solid #ccc;
    padding: 0 20px;
}
.cont > .detail-box:last-child {
    border-right: none;
}
.map-container {
    flex-grow: 1; 
    height: 70vh; 
    z-index: 1; 
}
header {
    z-index: 10;
    position: relative;
}
.cont{
    margin-bottom: -80px;
    z-index: 10;
    position: relative; 
}
.loa{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    color:rgb(10, 197, 10);
}


@media(max-width:630px){
.loa{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    color:rgb(10, 197, 10);
}
.cont > .detail-box {
    border: none;
}
.cont > .detail-box:last-child {
    border-right: none;
}
.cont{
    display: block;
    text-align: center;
    background-color: white;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px; 
    margin: 0 auto;
    word-wrap: break-word;
    position: relative;
}
.map-container {
    position: relative;
    flex-grow: 1;
    z-index: 20;
    height: 69vh;
    width: 100%;
    margin-top: -35px;
    z-index: 10;
    position: relative
}
.cont h4{
    color: grey;
    font-size: 13px;
    padding-left: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}
.is{
    margin-left: 0px;
}
.cont h1{
    color: rgb(29, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -20px;
    font-size: 19px;
}
.App {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    position: relative; 
}  
.map-container {
    flex-grow: 1; 
    height: 70vh; 
    z-index: 1; 
}  
header {
    z-index: 10;
    position: relative;
}
.cont{
    margin-bottom: -121px;
    z-index: 10;
    position: relative; 
}
}
